.btn {
    background-color: #f4511e;
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn:hover {
      opacity: 1
  }